<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Helpdesk</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script type="text/javascript" th:src="@{/js/countdown.js}"></script>
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
</head>
<body>

<nav th:fragment="navigation" class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" href="/">HelpDesk v0.1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Dashboard <span class="sr-only">(current)</span></a>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="/">Link</a>-->
            <!--</li>-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Trouble Tickets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ticket/new">New Ticket</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/ticket/">My Open Tickets</a>
                    <a class="dropdown-item" href="#">My Closed Tickets</a>
                        <!--TODO - send to closed ticket queue when page is created-->
                </div>
            </li>
            <!--<li class="nav-item">-->
                <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
            <!--</li>-->
        </ul>
        <ul class="navbar-nav navbar-right">
            <li  class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="${loggedInUser.getEmail()}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--TODO - create account page, change redirect-->

                    <div th:each="role : ${loggedInUser.roles}">
                        <a th:if="${role.role} == 'ADMIN'"  class="dropdown-item" href="/admin/">Admin Panel</a>
                    </div>
                    <a class="dropdown-item" href="#">Account</a>
                    <a class="dropdown-item" th:href="@{/logout}">Sign Out</a>
                </div>
            </li>
        </ul>
        <!--<ul class="navbar-nav navbar-right">-->
            <!--<li class="nav-item"><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>-->
        <!--</ul>-->
        <!--<form class="form-inline my-2 my-lg-1">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>

</body>
</html>