<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2 justify-content-md-start">
            <h5 class="text-left">Quick Links</h5>
            <ul class="list-group">
                <li class="list-group-item"><a href="/ticket/new">Open a Ticket</a></li>
                <li class="list-group-item"><a href="/ticket">Your Tickets</a></li>
                <li class="list-group-item"><a href="/ticket/all">All Tickets</a></li>
                <li class="list-group-item">Closed Tickets</li>
            </ul>
        </div>
        <div class="col-md-8">
            <h4>Open Tickets</h4>
            <table class="table table-sm table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th class="text-center" scope="col">#</th>
                        <th scope="col">Stage</th>
                        <th scope="col">Updated</th>
                        <th scope="col">Title</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="ticket : ${openTickets}"
                         th:if="${ticket.assignedTo != null} and ${ticket.getAssignedTo().id == loggedInUser.getId()}">
                        <tr>
                            <th class="text-center" scope="row">
                                <a th:text="${ticket.id}" th:href="@{'/ticket/'+${ticket.id}}"></a>
                            </th>
                            <td th:text="${ticket.stage.name}"></td>
                            <td th:text="${#dates.format(ticket.lastUpdated, 'M/dd/yy h:mm a')}">Not Updated</td>
                            <td th:text="${ticket.title}"></td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

</body>
</html>